html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, table,tr,th,td,img,a{ margin:0; padding:0; }
ul li,ol li, dl li{
	         list-style: none;
           }
body{
     font-family: "微软雅黑"; font-size: 12px;
    }
a{
  text-decoration: none; color: black;
 }