
/* 右侧漂浮栏 */
.sidebar{
    width:46px;
    height: 110px;
    position: fixed;
    right:0;
    bottom:102px;
    text-align: center;
    border:1px solid #ececec;
    border-right: none;
    background:#fff;
}
.sidebar a{
    display:block;
    color:#000;
    width:24px;
    margin:10px auto;
    height: 25px;
    border-bottom:1px solid #ececec;
    cursor: pointer;
}
.sidebar .iconfont{
    font-size:20px;
}
.sidebar span{
    position: absolute;
    width:50px;
    right:50px;
    display: none;
    background: #fff;
}
.side-cart_title {
    top:10px;
}
.side-collect_title {
    top:46px;
}
.service_title {
    top:82px;
}
